section.page-play
    a(href="/") < Back to start screen

    .gameGrid.active-noughts
        each row in gameGrid
            .gameRow
                each field in row
                    .gameCell.is-empty


    table.table.table-bordered
        thead
            tr
                th= player0.name
                th Draws
                th= player1.name
        tbody
            tr
                td= player0.score
                td 0
                td= player1.score