section.page-start
    h1 Tic-tac-toe
    p Hello! What are your names?

    form(data-hook="names-form")
        fieldset(data-hook="field-container")
        button.btn.btn-primary(type="submit") PLAY